@import url("https://fonts.googleapis.com/css2?family=Montserratt&display=swap");

body {
    font-family: 'Montserratt', sans-serif;
    overflow: hidden;
    margin: 0;
    background-color: none;
    background: none;
}

.none {
    display: none;
}

.dialog {
    width: 400px;
    opacity: 0.95;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e1e1e; /* Darker background color for the dialog */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adjusted box-shadow for depth */
    border: 1px solid #333333; /* Border color */
    color: #ffffff;
}

.title {
    font-family: 'Montserratt', sans-serif;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

input {
    margin-bottom: 15px;
    border: 1px solid #333333;
    border-radius: 5px;
    width: 100%;
    outline: none;
    padding: 12px;
    font-family: 'Montserratt', sans-serif;
    color: #ffffff;
    background-color: #333333; /* Darker input background color */
    transition: border-color 0.3s;
}

input:focus {
    border-color: #4c7faf;
}

::placeholder {
    color: #666666; /* Adjusted placeholder text color */
    text-align: center;
}

.radio-toolbar input[type="radio"] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    margin: 5px 10px;
    padding: 12px 20px;
    font-family: 'Montserratt', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.radio-toolbar input[type="radio"]:checked + label,
.radio-toolbar label:hover {
    background-color: #4c7faf;
    color: #ffffff;
}

button {
    display: block;
    margin-top: 20px;
    padding: 12px;
    background-color: #4c7faf;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #4c7faf;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
}

#fieldLabel {
    color: rgb(200, 200, 200);
    font-size: 12px;
    font-family: 'Gill Sans', sans-serif
}