# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    ___ _____  __  _    ___ ___   _   _____   __   #
#   | __/ __\ \/ / | |  | __/ __| /_\ / __\ \ / /   #
#   | _|\__ \>  <  | |__| _| (_ |/ _ \ (__ \ V /    #
#   |___|___/_/\_\ |____|___\___/_/ \_\___| |_|     #
#                                                   #
#     Discord: https://discord.gg/esx-framework     #
#     Website: https://esx-framework.org            #
# # # # # # # # # # # # # # # # # # # # # # # # # # #

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_hostname "Unconfigured | ESX Legacy Server"
#set steam_webApiKey "" # Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey), replace "" with the key
sv_licenseKey "" # License key for your server (https://keymaster.fivem.net)
sv_maxclients 10   # Allow access to features usually locked behind a FiveM patreon key, max free slot clients <48

sets sv_projectName "Unconfigured | ESX Legacy Server"
sets sv_projectDesc "The official esx base of the most popular FiveM RP framework, containing Jobs, Housing, Vehicles & more!"
sets tags "unconfigured, esx legacy, legacy, official, roleplay"
sv_scriptHookAllowed 0

# Enable OneSync [REQUIRED FOR LEGACY 1.7.5 +]
set onesync on
set mysql_connection_string "mysql://user:password@localhost/es_extended?waitForConnections=true&charset=utf8mb4"
#set mysql_ui true #uncomment this line if is needed

# Remove the `#` from the below line if you want your server to be listed as 'private' in the server browser.
# Do not edit it if you *do not* want your server listed as 'private'.
# Check the following url for more detailed information about this:
# https://docs.fivem.net/docs/server-manual/server-commands/#sv_master1-newvalue
#sv_master1 ""

#Trust is how unlikely it is for the user's identity to be spoofed by a malicious client.
#A console variable as an integer from 1-5 (default 1); from least to most trustworthy (5 being a method such as external three-way authentication(like steam or rockstar launcher))
#sv_authMinTrust 1

#sv_enforceGameBuild 2699 #Only uncomment this line if you want the latest content from GTA:Online like clothes and cars

# A valid locale identifier for your server's primary language.
# For example "en-US", "es-ES", "nl-NL", "de-DE", "en-GB", "pt-BR"
#sets locale "root-AQ" 
# please DO replace root-AQ on the line ABOVE with a real language!

setr esx:locale "en"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Loading a server icon (only 96x96 PNG file)
#load_server_icon myLogo.png

## These resources will start by default.
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

## Default & Standalone resources
ensure chat-theme-gtao # Cool Chat theme
ensure oxmysql

## ESX Legacy
ensure es_extended
ensure [esx]

## ESX Addons
ensure [esx_addons]
stop basic-gamemode #remove this if you don't want to use multicharacter
