# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#   _____ ___ ___ ___ _  __  ___ __  __    ___ ___ _____   __   #
#  |_   _| _ \_ _/ __| |/ / | __|  \/  |  / __|_ _|_   _\ \ /  #
#    | | |   /| | (__| ' <  | _|| |\/| | | (__ | |  | |   | |   #
#    |_| |_|_\___\___|_|\_\ |___|_|  |_|  \___|___| |_|   |_|   #
#                                                                #
#          T R I C K E M   C I T Y   -   1 9 7 0 s              #
#        "The streets are groovy, the hustle is real"            #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### Endpoints Privacy ###
sv_endpointPrivacy true

sv_hostname "TrickEm City | 1970s Roleplay | Disco, Hustle & Soul"
set steam_webApiKey ""
sv_licenseKey ""
sv_maxclients 32

sets sv_projectName "TrickEm City RP"
sets sv_projectDesc "Step into the 1970s. Disco nights, muscle cars, bell-bottoms and the hustle. A groovy roleplay experience set in the golden era of funk and soul."
sets tags "roleplay, 70s, 1970s, disco, funk, soul, esx, trickem, retro, vintage"

sv_enforceGameBuild 3095 #mp2023_02 - The Chop Shop
set resources_useSystemChat true

set onesync on  # Enable OneSync [REQUIRED FOR LEGACY 1.7.5 +]
set mysql_connection_string "mysql://user:password@localhost/es_extended?waitForConnections=true&charset=utf8mb4"
set mysql_ui true

## Set locale
setr esx:locale "en"

## These resources will start by default.
ensure chat
ensure spawnmanager
ensure hardcap

## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

## Default & Standalone resources
ensure oxmysql

## ESX Legacy
ensure es_extended
ensure [core]

## TrickEm City - 70s Theme Resources
ensure [trickem]
