@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    display: none;
}

.menu-container {
    position: absolute;
    min-width: 20.8333vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.9259vh;
    transform-origin: center center;
}

.menu-container.align-left { 
    left: 0; 
    top: 50%; 
    transform: translateY(-50%) scale(var(--scale, 1));
    transform-origin: left center;
}

.menu-container.align-top-left { 
    left: 4rem; 
    top: 0.8rem; 
    transform: scale(var(--scale, 1));
    transform-origin: left top;
}

.menu-container.align-top { 
    left: 50%; 
    top: 0.8rem; 
    transform: translateX(-50%) scale(var(--scale, 1));
    transform-origin: center top;
}

.menu-container.align-top-right { 
    right: 3rem; 
    top: 0.8rem; 
    transform: scale(var(--scale, 1));
    transform-origin: right top;
}

.menu-container.align-right { 
    right: 0; 
    top: 50%; 
    transform: translateY(-50%) scale(var(--scale, 1));
    transform-origin: right center;
}

.menu-container.align-bottom-right { 
    right: 3rem; 
    bottom: 0.8rem; 
    transform: scale(var(--scale, 1));
    transform-origin: right bottom;
}

.menu-container.align-bottom { 
    left: 50%; 
    bottom: 0.8rem; 
    transform: translateX(-50%) scale(var(--scale, 1));
    transform-origin: center bottom;
}

.menu-container.align-bottom-left { 
    left: 4rem; 
    bottom: 0.8rem; 
    transform: scale(var(--scale, 1));
    transform-origin: left bottom;
}

.menu-container.align-center { 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%) scale(var(--scale, 1));
    transform-origin: center center;
}

.menu-buttons {
    display: flex;
    justify-content: center;
    gap: .5208vw;
    color: #FFF;
    font-family: Poppins;
    font-size: .8333vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4167vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

.backspace-btn, .close-btn {
    width: 10.6771vw;
    height: 6.0185vh;
    border-radius: .2604vw;
    background: #161616;
}

.menu-button:hover {
    background-color: #252525;
    transform: scale(1.02);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.9259vh;
    font-family: "Poppins", sans-serif;
    color: #fff;
    padding: 8px;
    background-color: #161616;
    border-radius: 4px;
}

.head {
    display: block;
    overflow: hidden;
    min-width: 20.4688vw;
    min-height: 6.0185vh;
    padding-bottom: 0.2778vh;
    text-align: center;
    white-space: nowrap;
    border-radius: .2604vw;
    background: #FB9B04;
}

.menu .head {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
    font-family: Poppins;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 100%;
}

.menu .menu-items {
    display: flex;
    flex-direction: column;
    gap: 0.9259vh;
    max-height: 41.6667vh;
    overflow-y: auto;
    font-weight: 550;
    margin-bottom: 0.1852vh;
}

.menu .menu-items .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.0833vw;
    min-width: 20.4688vw;
    min-height: 6.0185vh;
    border-radius: .2604vw;
    background: #252525;
    color: #FFF;
    font-family: Poppins;
    font-size: .8333vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.menu .menu-items .menu-item.selected {
    border: 2px solid #FB9B04;
    background: #252525;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: .4167vw 0.9259vh;
}

.menu-item-icon {
    font-size: 1vw;
    text-align: center;
}

.menu-item.selected {
    background-color: rgba(255, 255, 255, 0.1);
}

.fas {
    color: white;
}
