@font-face {
    font-family: 'Pricedown';
    src: url('../fonts/pdown.ttf') /* TTF file for CSS3 browsers */
}

html {
  overflow: hidden;
}

#cursor {
  position: absolute;
  z-index: 999999;
  display:  none;
}

#controls {
  font-family: 'Pricedown';
	font-size     : 3em;
	color         : #FFF;
	position      : absolute;
	bottom        : 40;
	right         : 40;
	
	text-shadow:
   	-1px -1px 0 #000,
		 1px -1px 0 #000,
		-1px  1px 0 #000,
		 1px  1px 0 #000
	;
}

.controls {
	display: none;
}

.menu {
    font-family: 'Open Sans', sans-serif;
    min-width       : 400px;
    min-height:     : 250px;
    color           : #fff;
    position        : absolute;
    left            : 40;
    top             : 0; 
}

.menu .head {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  padding: 10px;
  background: #1A1A1A;
  border-bottom: 3px solid #BC1635;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  -o-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.4);
}
.menu .head span {
  font-family: 'Pricedown';
  font-size: 28px;
  padding-left: 15px; 
  padding-top: 6px; 
}

.menu .menu-items .menu-item {
  font-family     : 'Open Sans', sans-serif;
  font-size       : 14px;
  height          : 40px;
  display         : block;
  background-color: #f1f1f1;
  box-shadow      : inset 1px 0px 0px 1px #b8b8b8;
  height          : 32px;
  line-height     : 32px;
  color           : #3A3A3A;
	text-align      :  center;
}

.menu .menu-items .menu-item.selected {
	background-color: #ccc;
}

#customers {

  font-family: 'Open Sans', sans-serif; 
  color           : #fff;
  position        : absolute;
  overflow        : hidden;
  top             :  50%;
  left            :  50%;
  width           : 800px;
  height          : 600px;
  margin-top      : -300px;
  margin-left     : -400px;
  display         : none;
}

.box-shadowed {
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.4);
}

#customers .well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

#customers .head {
  height: 40px;
  background: rgba(28, 28, 28, 0.9);
  border-bottom: 3px solid #BC1635;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  -o-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.4);
}

#customers .head h4 {
  font-family: 'Pricedown';
  font-weight:600;
  padding: 20px 20px;
  color: #ffffff;
  font-size: 28px;
  text-transform: uppercase;
  text-align: left;
}

/* login_form */
#customers .head-content {
  padding: 30px;
  background: rgba(39, 49, 56, 0.8);
  height: 300px;
  overflow-y: scroll;
}

#customers .head-content span {
  display: block;
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px;
}

#customers .head-content span.top {
  margin-top: 20px;
}

#customers .head-content form input[type="text"] {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 15px;
  display: block;
  width: 100%;
  background: #1A1A1A;
  outline: none;
  color: #ffffff;
  font-size: 0.9125em;
    border: 1px solid #1F252C;
  -webkit-appearance: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
}

#customers .head-content form input[type="email"] {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 15px;
  display: block;
  width: 100%;
  background: transparent;
  outline: none;
  color: #ffffff;
  font-size: 0.9125em;
    border: 1px solid #1F252C;
  -webkit-appearance: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
}

#customers .head-content form input[type="password"] {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 15px;
  display: block;
  width: 100%;
  background: transparent;
  outline: none;
  color: #ffffff;
  font-size: 0.9125em;
    border: 1px solid #1F252C;
  -webkit-appearance: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
}

.amount-dialog {

  font-family: 'Open Sans', sans-serif; 
  color           : #fff;
  position        : absolute;
  overflow        : hidden;
  top             :  50%;
  left            :  50%;
  width           : 580px;
  height          : 440px;
  margin-top      : -200px;
  margin-left     : -300px;
  display         : none;
  z-index         : 1;
}

.amount-dialog .head {
  text-align  : center;
  height      : 40px;
  line-height : 40px;
}

.amount-dialog .well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.amount-dialog .head {
  height: 40px;
  background: rgba(28, 28, 28, 0.9);
  border-bottom: 3px solid #BC1635;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  -moz-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  -o-box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.28);
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.4);
}
.amount-dialog .head h4{
  font-family: 'Pricedown';
  font-weight:600;
  padding: 20px 20px;
  color: #ffffff;
  font-size: 28px;
  text-transform: uppercase;
  text-align: left;
}
/* login_form */
.amount-dialog .head-content {
  padding: 30px;
  background: rgba(39, 49, 56, 0.8);
  border-radius: 0 0 6px 6px;
}

.amount-dialog .head-content span {
  display: block;
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px;
}

.amount-dialog .head-content span.top {
  margin-top: 20px;
}

.amount-dialog .head-content form input[type="text"] {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 15px;
  display: block;
  width: 100%;
  background: #1A1A1A;
  outline: none;
  color: #ffffff;
  font-size: 0.9125em;
    border: 1px solid #1F252C;
  -webkit-appearance: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
}

.amount-dialog .head-content form input[type="email"] {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 15px;
  display: block;
  width: 100%;
  background: transparent;
  outline: none;
  color: #ffffff;
  font-size: 0.9125em;
    border: 1px solid #1F252C;
  -webkit-appearance: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
}

.amount-dialog .head-content form input[type="password"] {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 15px;
  display: block;
  width: 100%;
  background: transparent;
  outline: none;
  color: #ffffff;
  font-size: 0.9125em;
    border: 1px solid #1F252C;
  -webkit-appearance: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
}

#customer-list {
  width: 100%;
  color: #fff;
  border-collapse: collapse;
}

#customer-list tr {
  height: 32px;
}

#customer-list > thead > tr > td:nth-child(1) {
  width: 20%;
}

#customer-list > thead > tr > td:nth-child(2) {
  width: 20%;
}

#customer-list > tbody > tr:nth-child(even) {

}

#customer-list > tbody > tr:nth-child(odd) {
  background-color: rgba(39, 49, 56, 0.8);
}