@font-face {
	font-family: bankgothic;
	src: url('../bankgothic.ttf');
}

@font-face {
	font-family: pcdown;
	src: url('../pdown.ttf');
}

#controls {
	font-family   : pcdown;
	font-size     : 3em;
	color         : #FFF;
	position      : absolute;
	bottom        : 40;
	right         : 40;
	
	text-shadow:
   	-1px -1px 0 #000,
		 1px -1px 0 #000,
		-1px  1px 0 #000,
		 1px  1px 0 #000
	;
}

.controls {
	display: none;
}

.menu {
		font-family     : bankgothic;  
    min-width       : 350px;
    background-color: #506be6;
    color           : #fff;
    box-shadow      : 0px 0px 50px 0px #000;
    position        : absolute;
    left            : 40;
    top             : 40; 
}

.menu .head {
	text-align  : center;
  height      : 40px;
  line-height : 40px;
}

.menu .menu-items .menu-item {
  height          : 40px;
  display         : block;
  background-color: #f1f1f1;
  box-shadow      : inset 1px 0px 0px 1px #b8b8b8;
  height          : 32px;
  line-height     : 32px;
  color           : #3A3A3A;
	text-align      :  center;
}

.menu .menu-items .menu-item.selected {
	background-color: #d0d0d0;
}