@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
* {
    margin: 0;
    padding: 0;
    user-select: none;
    color: rgb(255, 255, 255);
	font-weight: 300;
	font-size: 1.6vh;
    font-family: Calibri, "Helvetica", san-serif;
}

html {
    overflow: hidden;
}

p {
    margin: 0 !important;
}

body {
	background: transparent;
}

.main-container {
    display:none;
    position: absolute;
	top: 50%;
    right: 25;
    transform: translate(0, -50%);
	background: rgba(0,0,0,0.7);
}

.header {
	position: absolute;
	top: 5%;
    left: 50%;
    transform: translate(-50%);
	font-size: 1.1rem;
}

.footer {
	position: absolute;
	bottom: 5%;
    left: 50%;
    transform: translate(-50%);
	font-size: 1.1rem;
}

.character-box {
	display: flex;
	right: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 1.4rem;
	height: calc(100vh - 6rem);
	width: 20rem;
	padding: 1rem;
	border: 1px rgba(12,12,12,200) solid;
	box-shadow: 0px 0px 4px 1px rgba(12,12,12,20);
}

h1 {
    font-family: 'Raleway', sans-serif;
	padding-top: 2rem;
	display: block;
	font-size: 1.3rem;
	font-weight: 600;
}
