@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#controls {
  font-family: "Poppins", sans-serif;
  font-size: 2.77vh;
  color: #fff;
  position: absolute;
  bottom: 3.7vh;
  right: 3.7vh;
}

.controls {
  display: none;
}

.dialog {
  font-family: "Poppins", sans-serif;
  background: #212121;
  color: #fff;
  position: absolute;
  border-radius: 0.46vh;
  overflow: hidden;
  top: 50%;
  left: 50%;
  width: 55.6vh;
  height: 14.1vh;
  padding-bottom: 1vh;
  transform: translate(-50%, -50%);
}

.head {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.6vh;
  font-weight: 500;
  text-transform: uppercase;
}

.dialog.big {
  height: 18.5vh;
}

.dialog .head {
  background: #161616;
  text-align: center;
  height: 3.7vh;
}

.dialog .head span::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.dialog input[type="text"] {
  width: 60%;
  height: 2.96vh;
  outline: 0;
  background: none;
  text-align: center;
  margin-top: 2.4vh;
  margin-left: 11.6vh;
  font-size: 1.48vh;
  transition: all 0.2s ease-in-out;
  color: white;
  border: 0.05vh solid #ffffff3b;
  border-radius: 0.3vh;
}

.dialog input[type="text"]:active,
.dialog input[type="text"]:hover {
  color: white;
}

.dialog textarea {
  width: 100%;
  height: 11.85vh;
}

.dialog button[name="submit"] {
  width: 17.6%;
  height: 2.96vh;
  margin-left: 14.8vh;
  font-weight: 500;

  color: #fb9b04;
  border-radius: 0.5vh;
  font-size: 1.2vh;
  background: #fb9c0433;
  outline: 0;
  border: none;
  transition: all 0.2s ease-in-out;
}

.dialog button {
  z-index: 9999;
  transform: translate(-0%, 50%);
}

.dialog button[name="cancel"] {
  width: 17.6%;
  height: 2.96vh;
  margin-left: 5.6vh;

  font-weight: 500;

  color: #fefefe;
  border-radius: 0.5vh;
  font-size: 1.2vh;
  background: #94949433;
  outline: 0;
  border: none;
  transition: all 0.2s ease-in-out;
}

.dialog button[name="cancel"]:hover {
  letter-spacing: 0.09vh;
  transform: scale(1.05) translate(-0%, 50%);
}

.dialog button[name="submit"]:hover {
  letter-spacing: 0.09vh;
  transform: scale(1.05) translate(-0%, 50%);
}

* {
  font-family: Poppins !important;
}
