@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
    margin: 0;
    padding: 0;
    user-select: none;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    font-weight: 300;
    font-size: 1.6vh;
    font-family: Calibri, "Helvetica", san-serif;
}

html {
    overflow: hidden;
}

p {
    margin: 0 !important;
}

body {
    background: transparent;
}

.main-container {
    display: none;
    position: absolute;
    top: 50%;
    right: 150;
    transform: translate(0, -50%);
    border-radius: 15px;
    background: rgba(15, 15, 15, 0.9);
}

.header {
    font-family: "Oswald", sans-serif;
    position: absolute;
    background: rgba(10, 10, 10, 0.9);
    border-radius: 15px 15px 0px 0px;
    height: 10%;
    width: 100%;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
    font-weight: 700;
    padding-bottom: 5px;
    font-size: 1.6rem;
}

.footer {
    position: absolute;
    font-size: 0rem;
}

.character-box {
    display: flex;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.4rem;
    height: calc(30rem);
    width: 17rem;
    border: 1px rgba(10, 10, 10, 0.7) solid;
    box-shadow: 2px 1px 9px 3px rgba(10, 10, 10, 0.7);
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    padding-top: 1.3rem;
    display: block;
    font-weight: 0;
}
